@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.TagCard{
    background-color: rgb(216, 215, 215);
    font-family: Architects Daughter, sans-serif;
    font-size: 20px;
}

.TagName {
    margin-left: 1cm;
}

.TagList {
    display:  flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 4%;
}

.TagContent {
    background-color: rgb(216, 215, 215);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 1cm;
    margin-right: 1cm;
}

.TagListName {
    font-family: Architects Daughter, sans-serif;
    font-size: 1cm;
    margin-left: 10%;
    padding-top: 2%;
}

.NewTagButton {
    margin-bottom: 1cm;
    margin-left: 415px;
    background-color: rgb(123, 170, 179);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    font-size: .5cm;
}

.TagButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 12cm;
    margin-bottom: 1cm;
    margin-top:-1.3cm
}

.CreateNewTag {
    margin-top: .3cm;
    margin-bottom: .3cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.UpdateTag {
    background-color: rgb(123, 170, 179);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(123, 170, 179);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: .2cm;
    margin-right: .2cm;;
}

.UpdateTag:hover {
    background-color: rgb(33, 111, 124);
}

.DeleteTag {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left:-2cm;
}

.DeleteTag:hover {
    background-color: rgb(141, 65, 65);
}

.NameDetailsTag {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.DetailTag {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    margin-right: 30px;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-left:.2cm; */
}

.DetailTag:hover {
    background-color: #aa6a20;
}

.NameDeleteTag {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .4cm;
    margin-right: .4cm;;
    font-family: Architects Daughter, sans-serif;
    font-weight: bold;
}

.NameUpdateTag {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.NewTagHeader {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans-serif;
    font-size: 30px;
}

.Middle {
    margin-left: 8cm;
    margin-top: -.9cm
}

/* //// Tag List and Tag Card CSS //// */

.TagForm {
    display: flex;
    justify-content: center;
}

.NewTagHeader {
    display: flex;
    justify-content: center;
}

.SaveTagButton {
    background-color: rgb(123, 170, 179);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(123, 170, 179);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 15cm;
}

.MainTagForm {
    background-color: rgb(216, 215, 215);
    padding-top: 3cm;
    padding-bottom: 3cm;
    margin-left: 12cm;
    margin-right: 12cm;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.NewTagName {
    font-family: Architects Daughter, sans-serif;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(216, 215, 215);
}

.form-control {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(216, 215, 215);
    height: .9cm;
    width: 5cm;
    font-size: 20px;
    font-family: Architects Daughter, sans-serif;
}

.SaveNewTag {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.ConfirmDeleteTag {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    margin-right: 30px;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.SaveTagButton:hover {
    background-color: rgb(33, 111, 124);
}

/* //// Create Tag CSS //// */

.TagTitle {
    display: flex;
    justify-content: center;
    padding-top: 1cm;
    font-family: Architects Daughter, sans-serif;
}

.Text {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans-serif;
    font-size: .7cm;
}

.DeleteTagForm {
    background-color:rgb(216, 215, 215);
    padding-top: 2cm;
    padding-bottom: 2cm;
    margin-top: 3cm;
    margin-left: 12cm;
    margin-right: 12cm;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.DeleteTagButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 2cm;
    list-style: none;
    margin-bottom: -1cm;
}

.ConfirmCancelTag {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    margin-right: 30px;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left:.2cm;
}

.ConfirmCancelTag:hover {
    background-color: #aa6a20;
}

.ConfirmDeleteTag {

    margin-right:.2cm;
}

.ConfirmDeleteTag:hover {
    background-color: rgb(141, 65, 65);
}

.TagDelete {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
    font-weight: bold;
}

.TagCancel {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

/* //// Delete Tag CSS //// */

.UpdateTagForm {
    background-color:rgb(216, 215, 215);
    padding-top: 2cm;
    padding-bottom: 2cm;
    margin-top: 3cm;
    margin-left: 12cm;
    margin-right: 12cm;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.EditTagHeader {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans sans-serif;
    margin-top: 1cm;
    margin-bottom: -2cm;
    font-size: .8cm;
}

.UpdateTagName {
    font-family: Architects Daughter, sans-serif;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(216, 215, 215);
    display: flex;
    justify-content: center;
}

.MainTag {
    background-color: rgb(168, 167, 167);
    margin-left: 26em;
    margin-right: 26em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: -1em;;
    margin-bottom: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.EditTagName {
    margin-top: 5px;
    font-size: 22px;
}

.submit_tag_button {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    margin-right: 30px;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 13px;
}

.cancel_tag_button {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    margin-right: 30px;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.saveUpdatedTag {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .4cm;
    margin-right: .4cm;
    font-family: Architects Daughter, sans-serif;
}

.cancel_tag_button:hover {
    background-color: rgb(141, 65, 65);
}

.cancelUpdatedTag {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.submit_tag_button:hover {
    background-color: #aa6a20;
}

.UpdateButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 2cm;
    list-style: none;
    margin-bottom: -1cm;
    margin-top: 1cm;
}

.EditBookHeader {
    display: flex;
    justify-content: center;
    margin-top: 1cm;
    font-family: Architects Daughter, sans-serif;
    font-size: .8cm;
}

.selectfield {
    display: flex;
    flex-direction: column;
    margin-left: 17em;
    margin-top: 1cm;
}

.BookTagName {
    display: flex;
    flex-direction: column;
    margin-left: 1cm;
    margin-top: -.6cm;
    font-family: Architects Daughter, sans-serif;
    font-size: .5cm;
}

.multiselector {
    background-color: rgb(168, 167, 167);
    margin-right: 30em;
    margin-left: 33em;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-top: 1cm;
}

.NewTagMessage {
    background-color: rgb(47, 151, 165);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 35cm;
    margin-left: 2cm;
    margin-bottom: -4cm;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-family: Architects Daughter, sans-serif;
}

.SelectTags {
    font-family: Architects Daughter, sans-serif;
    display: flex;
    justify-content: center;
    font-size: .8cm;
}

.save-booktag-button {
    margin-left: 13cm;
    margin-bottom: 2em;
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.save-booktag-button:hover {
    background-color: #aa6a20;
}

.SaveTagsButton {
    font-family: Architects Daughter, san;
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
}

.remove-booktag-button {
    background-color: rgb(190, 102, 102);
    margin-left: 13cm;
    margin-bottom: 2em;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.remove-booktag-button:hover {
    background-color: rgb(141, 65, 65);
}