@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.nav_items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgb(47, 151, 165);
    padding-top: .5cm;
    padding-bottom: .5cm;
    padding-left: 1cm;
}

.nav_item {
    color: black;
    font-size: .7cm;
    font-family: Architects Daughter, sans-serif;
    list-style: none;
}

.nav_item:hover {
 color: whitesmoke;
}

.mr-auto {
    background-color: rgb(47, 151, 165);
    border-style: solid;
    border-color: black;
}

.nav_item_logout {
    color: rgb(104, 98, 98);
    font-size: .7cm;
}

.Title {
  font-family: Architects Daughter, sans-serif;
  font-size: .7cm;
  color: whitesmoke;
  margin-left: -4cm
}

div.container-fluid {
    background-color: grey;
}

.logo_navbar {
    height: 50px;
    margin-top:-.2cm;
    margin-left: -3cm;
}