@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.nav_items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgb(78, 191, 206);
    margin-bottom: 1cm;
    padding-top: .5cm;
    padding-bottom: .5cm;
    padding-left: 1cm;
}

.nav_item {
    color: black;
    font-size: .7cm;
    font-family: Architects Daughter, sans-serif;
}

.mr-auto {
    background-color: rgb(78, 191, 206);
}

.nav_item_logout {
    color: rgb(104, 98, 98);
    font-size: .7cm;
}

.Title {
    font-size: 2cm;
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans-serif;
}

div.container-fluid {
    background-color: grey;
}

.logo_navbar {
    height: 100px;
    margin-bottom: -2.5cm;
    padding-left: 12cm;

}





