.MainCommentBox {
background-color: rgb(168, 167, 167);
margin-left: 19em;
margin-right: 20em;
padding-bottom: 1em;
padding-top: 2em;
margin-bottom: 2em;
border-style: solid;
border-color: black;
border-radius: 10px;
border-width: 1px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: -1em;
}

.CommentBox {
    background-color: rgb(216, 215, 215);
    display:flex;
    justify-content: center;
    border-radius: 10px;
    width: 1000px;
    height: 8cm;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 2em;
    margin-bottom: 1em;
}

.ProfileImage {
    height: 200px;
    width: 200px;
    margin-top: 1.5cm;
    margin-bottom: 2cm;
    margin-right: 1em;;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 100px;
}

.CommentCard {
    margin-left: 3cm;
    margin-top: 1cm;
}

.CommentElement {
    font-family: Architects Daughter, sans-serif;
    font-size: 18px;
    margin-right: 2cm;
    width: 11cm;
}

.CommentButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 1cm;
}

.UpdateComment {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.DeleteComment {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 7.3cm;
}

.DeleteComment:hover {
    background-color: rgb(141, 65, 65);
}

.UpdateComment:hover {
    background-color: #aa6a20;
}

.NameDeleteComment {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, san;
    font-weight: bold;
}

.NameUpdateComment {
    font-family: Architects Daughter, san;
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
}

.EditCommentHeader {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans sans-serif;
    margin-top: 1cm;
    margin-bottom: -2cm;
    font-size: .8cm;
}

.UpdateCommentForm {
    background-color:rgb(216, 215, 215);
    padding-top: 2cm;
    padding-bottom: 2cm;
    margin-top: 3cm;
    margin-left: 12cm;
    margin-right: 12cm;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.UpdateCommentName {
    margin-left: 4cm;
    padding-top: .4cm;
    font-family: Architects Daughter, sans-serif;
    font-size: 22px;
}

.EditCommentNames {
    margin-bottom: .1cm;
}

.UpdateCommentButtons {
    display: flex;
    flex-direction: row;
    margin-top: 1cm;
}

.EditCommentButton {
    margin-left: 12cm;
}

.CancelEditComment {
    margin-left: .6cm;
    background-color: rgb(190, 102, 102);
    font-family: Architects Daughter, sans-serif;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    padding-left: .5cm;
    padding-right: .5cm;
    padding-top: .1cm;
    padding-bottom: .1cm;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CancelEditComment:hover {
    background-color: rgb(141, 65, 65);
}

.submit_comment_button:hover {
    background-color: #aa6a20;
}

.submit_comment_button {
    background-color: rgb(209, 167, 104);
    margin-left: 14cm;
    padding-left: .5cm;
    padding-right: .5cm;
    padding-top: .1cm;
    padding-bottom: .1cm;
    font-family: Architects Daughter, sans-serif;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}