@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.NewBookButton {
    margin-bottom: 1cm;
    margin-left: 50px;
    background-color: rgb(71, 161, 177);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: .5cm;
}

.CreateNewBook {
    margin-top: .3cm;
    margin-bottom: .3cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.BookBox {
    background-color: rgb(216, 215, 215);
    display:flex;
    justify-content: center;
    border-radius: 10px;
    width: 1000px;
    height: 11cm;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 3.5em;
    margin-bottom: 1em;
}

 .BookImage{
    height: 300px;
    width: 300px;
    margin-top: 1.5cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1em;;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.BookCard {
    margin-left: 3cm;
    margin-top: 2cm;
}

.BookElement {
    font-family: Architects Daughter, sans-serif;
    font-size: 18px;
    margin-right: 2cm;
}

.DeleteBook {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.UpdateBook {
    background-color: rgb(71, 161, 177);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(71, 161, 177);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25); 
    margin-left: 1em;
    margin-right:1em;
}

.DetailBook {
    background-color: rgb(228, 135, 30);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(228, 135, 30);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.NameDeleteBook {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Architects Daughter, san;
    font-weight: bold;
}

.NameUpdateBook {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Architects Daughter, san;
}

.NameDetailBook {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Architects Daughter, san;
}

.UpdateBook:hover {
    background-color: rgb(33, 111, 124);
}

.DeleteBook:hover {
    background-color: rgb(141, 65, 65);
}


.DetailBook:hover {
    background-color: #aa6a20;
}

.BookButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 1cm;
    margin-top: 1cm;
} 

.MainBookBox {
    background-color: rgb(168, 167, 167);
    margin-left: 18em;
    margin-right: 18em;
    padding-bottom: 1em;
    padding-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}