@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.NewBookButton {
    margin-bottom: 1cm;
    margin-left: 305px;
    background-color: rgb(123, 170, 179);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: .5cm;
}

.CreateNewBook {
    margin-top: .3cm;
    margin-bottom: .3cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.BookBox {
    background-color: rgb(216, 215, 215);
    display:flex;
    justify-content: center;
    border-radius: 10px;
    width: 1000px;
    height: 11cm;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 2em;
    margin-bottom: 1em;
}

 .BookImage{
    height: 300px;
    width: 300px;
    margin-top: 1.5cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1em;;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.BookCard {
    margin-left: 3cm;
    margin-top: 2cm;
}

.BookElement {
    font-family: Architects Daughter, sans-serif;
    font-size: 18px;
    margin-right: 2cm;
}

.DeleteBook {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.UpdateBook {
    background-color: rgb(123, 170, 179);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(123, 170, 179);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25); 
    margin-left: 1em;
    margin-right: 1em;
}

.DetailBook {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.NameDeleteBook {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, san;
    font-weight: bold;
}

.NameUpdateBook {
    font-family: Architects Daughter, san;
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
}

.NameDetailBook {
    font-family: Architects Daughter, san;
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
}

.UpdateBook:hover {
    background-color: rgb(33, 111, 124);
}

.DeleteBook:hover {
    background-color: rgb(141, 65, 65);
}


.DetailBook:hover {
    background-color: #aa6a20;
}

.BookButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 1cm;
    margin-top: 1cm;
} 

.MainBookBox {
    background-color: rgb(168, 167, 167);
    margin-left: 19em;
    margin-right: 20em;
    padding-bottom: 1em;
    padding-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -1em;
}

.BookForm {
    display: flex;
    flex-direction: column;
    margin-left: 3.5cm;
}

.form-control {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(216, 215, 215);
    height: .9cm;
    width: 5cm;
    font-size: 20px;
    font-family: Architects Daughter, sans-serif;
}

.NewBook {
    border-style: solid;
    background-color: rgb(216, 215, 215);
    border-color: rgb(216, 215, 215);
    font-family: Architects Daughter, sans-serif;
    font-size: 20px;
}

.form_group {
    background-color: rgb(216, 215, 215);
}

.MainBookForm {
    background-color: rgb(216, 215, 215);
    padding-top: 2cm;
    padding-bottom: 2cm;
    margin-left: 13cm;
    margin-right: 13cm;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.NewBookHeader {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans-serif;
    font-size: .9cm;
}

.SaveBookButton {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 4cm;
    margin-right: 8cm;
    margin-top: 1cm;
}

.SaveUpdatedBook {
    margin-top: .2cm;
    margin-bottom: .2cm;
    font-family: Architects Daughter, sans-serif;
}

.SaveBookButton:hover {
    background-color:  #aa6a20;
}

.EditBookForm {
    margin-left: 12cm;
    background-color: rgb(216, 215, 215);
    margin-right: 12cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 3em;
}

.UpdateBookCharacter {
    margin-left: 5cm;
    padding-top: .4cm;
    font-family: Architects Daughter, sans-serif;
    font-size: 22px;
}

.MainUpdateBook {
    margin-top: 1cm;
}

.UpdateBookButtons {
    display: flex;
    flex-direction: row;
    margin-top: 1cm;
}

.SaveEditedBook {
    margin-left: 12cm;
}

.CancelEditBook {
    margin-left: .6cm;
}

.submit_book_button {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SaveEditBook {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .5cm;
    margin-right: .5cm;
    font-family: Architects Daughter, sans-serif;
}

.CancelEditBook {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CancelEditBook:hover {
    background-color: rgb(141, 65, 65);
}

.submit_book_button:hover {
    background-color: #aa6a20;
}

.CancelEditedBook {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.DeleteBookForm {
    background-color:rgb(216, 215, 215);
    padding-top: 2cm;
    padding-bottom: 2cm;
    margin-top: 3cm;
    margin-left: 12cm;
    margin-right: 12cm;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.DeleteBookButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 2cm;
    list-style: none;
    margin-bottom: -1cm;
}

.ConfirmCancelBook {
    background-color: rgb(209, 167, 104);
    border-radius: 15px;
    border-style: solid;
    margin-right: 30px;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left:.2cm;
}

.ConfirmCancelBook:hover {
    background-color: #aa6a20;
}

.ConfirmDeleteBook {
    background-color: rgb(190, 102, 102);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right:.2cm;
}

.ConfirmDeleteBook:hover {
    background-color: rgb(141, 65, 65);
}


.BookDelete {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.BookCancel {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.TextBook {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans-serif;
    font-size: .7cm;
}

.MainBookDetail {
    background-color: rgb(168, 167, 167);
    margin-left: 18em;
    margin-right: 18em;
    padding-bottom: 3em;
    padding-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.BookImageDetail {
    height: 400px;
    width: 400px;
    margin-bottom: 2cm;
    margin-left: 3cm;
    margin-top: 1cm;
    margin-right: 1em;;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 3cm;
}

.BookDetailProperties {
    margin-left: 15cm;
    margin-top: -14cm;
    font-family: Architects Daughter, sans-serif;
    font-size: .6cm;
}

.BookDetailHeader {
    background-color: grey;
    margin-left: 18em;
    margin-right: 18em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
}

.BookName {
    display: flex;
    justify-content: center;
    font-family: Architects Daughter, sans-serif;
    font-size: .8cm;
    margin-top: .2cm;
    margin-bottom: .2cm
}

.BookDetailButtons {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.DeleteBookTags {
    background-color: rgb(190, 102, 102);
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(190, 102, 102);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right:.2cm;
    margin-left: 15cm;
}

.ManageTags {
    background-color: rgb(209, 167, 104);
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(209, 167, 104);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    margin-left: .5cm;
}

.ManageTags:hover {
    background-color: #aa6a20;
}

.DeleteBookTags:hover {
    background-color: rgb(141, 65, 65);
}

.DeleteTagsLink {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
    font-weight: bold;
}

.AddTags {
    margin-top: .1cm;
    margin-bottom: .1cm;
    margin-left: .3cm;
    margin-right: .3cm;
    font-family: Architects Daughter, sans-serif;
}

.TagsUL {
    list-style: none;
}


